{{template "base" .}}

{{define "content"}}
<div class="container">
<hr>
<div class="card mx-5 mt-2 border-info">
    <div  class = "card-body " >
        <div class="row">
            <div class="col text-center">

                <a href="/search-availability" class="btn btn-success">Make Reservation Now</a>
            </div>
          </div>
    </div>
</div>
</div>
<hr>
    </div>
{{end}}
